
body{
    margin-top:0%;
    font-family: 'Spline Sans', sans-serif;}

.name{color:grey}
section{display: flex;}
.half-width{
    padding: 5%;
    width:50%;
    float: left;
}

div{padding: 5%;}
.half-width img{
    width:50%;
}
/*.imageDU{
    width:180px;
    margin-top: 10%;
} */
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,tomato);
    padding:10px 40px;
    color:white;
    border-radius: 5px;
}
header{

    background-color:black;
    padding:3px;
    margin-top: 0%;
    font-size: 15px;
    
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size:5px;
  left: 0;
  bottom: 0;
  width: 100%;
    text-align: center;
    background-color: black;
    padding: 20px;
}



.typewriter{
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      animation-iteration-count: infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
  




